
<br>
<mat-label class="font-props">Servicios </mat-label>

<div class="col-10 center-table margin-top">
  <mat-table [dataSource]="dataList" class="mat-elevation-z8">
    <ng-container matColumnDef="serviceName">
      <mat-header-cell *matHeaderCellDef> Nombre del servicio </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.serviceName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="priceUSD">
      <mat-header-cell *matHeaderCellDef> Precio USD </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.priceUSD}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>


<br>
<br>

<hr>

<br>

<div class="form-props">


  <div class="center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre del servicio</mat-label>
        <input matInput formControlName="serviceName">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Descripcion del servicio</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Costo del servicio</mat-label>
        <input matInput formControlName="priceUSD">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Crear</button>
    </form>

  </div>



  <div class="center">
    <form [formGroup]="form" (ngSubmit)="onUpdate()" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Nombre del servicio</mat-label>
        <input matInput formControlName="serviceName">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Descripcion del servicio</mat-label>
        <input matInput formControlName="description">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Costo del servicio</mat-label>
        <input matInput formControlName="priceUSD">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit">Actualizar</button>
    </form>

  </div>



  <div class="center">
    <form [formGroup]="form" (ngSubmit)="onDelete()" class="example-form">

      <mat-form-field class="example-full-width">
        <mat-label>ID</mat-label>
        <input matInput formControlName="id">
      </mat-form-field>

      <button mat-raised-button color="warn" type="submit">Borrar</button>
    </form>

  </div>
</div>